<h3>Start a new project!</h3>

<form action="/project" method="post">
  <label for="title">Name of the project: </label>
  <input type="text" name="title" placeholder="Name of project"><br>
  <button type="submit" name="button">Create Project</button>
</form>

<h3>Your projects:</h3>
<ul>
<% @projects.each do |project| %>
<li><a href="project/<%= project.id %>"><%= project.title %></a></li>
<% end %>
</ul>
